## Importing libraries and dataset

In [136]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [137]:
customer_df_cleaned = pd.read_csv('customer_df_cleaned.csv',index_col=[0])
customer_df_cleaned = customer_df_cleaned.drop(['index'],axis = 1)

In [138]:
customer_df_cleaned

,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274.0,Suburban,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0.0,Suburban,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767.0,Suburban,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0.0,Suburban,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836.0,Rural,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941.0,Urban,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
8693,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604.0,Suburban,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
8694,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0.0,Suburban,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
8695,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941.0,Suburban,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
8696,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0.0,Suburban,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

## Normalize the continuous variables. You can use any one method you want

In [139]:
# 'Total Claim Amount' is going to be our target,so we dont scale this column
continious = customer_df_cleaned[['customer_lifetime_value','income']]
discrete = customer_df_cleaned[['monthly_premium_auto','months_since_last_claim','months_since_policy_inception',
               'number_of_open_complaints','number_of_policies']]

In [140]:
from sklearn.preprocessing import StandardScaler
transformer = StandardScaler().fit(continious)
continious_scaled = pd.DataFrame(transformer.transform(continious))

In [141]:
continious_scaled

             0         1
0    -0.961822  0.611236
1     0.015265 -1.234670
2     1.384454  0.364991
3     0.169690 -1.234670
4    -0.950194  0.203244
...        ...       ...
8692  3.822192  1.125147
8693 -0.884649 -0.526013
8694  0.289746 -1.234670
8695  0.141550 -0.514959
8696 -0.996975 -1.234670

[8697 rows x 2 columns]

In [142]:
continious_scaled = continious_scaled.set_axis(['customer_lifetime_value', 
                                                        'income'], axis=1, inplace=False)

In [143]:
continious_scaled.head()

   customer_lifetime_value    income
0                -0.961822  0.611236
1                 0.015265 -1.234670
2                 1.384454  0.364991
3                 0.169690 -1.234670
4                -0.950194  0.203244

## 17.Encode the categorical variables

In [144]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()
ordinal_cols = ['education', 'coverage','employmentstatus','vehicle_size','location_code']
customer_df_cleaned[ordinal_cols] = oe.fit_transform(customer_df_cleaned[ordinal_cols]).astype(int)

In [145]:
ordinal_encoded = customer_df_cleaned[ordinal_cols].astype(int)
ordinal_encoded

      education  coverage  employmentstatus  vehicle_size  location_code
0             0         0                 1             1              1
1             0         1                 4             1              1
2             0         2                 1             1              1
3             0         0                 4             1              1
4             0         0                 1             1              0
...         ...       ...               ...           ...            ...
8692          0         0                 1             1              2
8693          1         1                 1             1              1
8694          0         1                 4             1              1
8695          1         1                 1             0              1
8696          1         1                 4             1              1

[8697 rows x 5 columns]

## One Hot Encoding

In [146]:
onehot_cols = customer_df_cleaned[['state','marital_status','policy_type','sales_channel','policy','vehicle_class',
                                   'renew_offer_type']]

In [147]:
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
enc = preprocessing.OneHotEncoder()
enc.fit(onehot_cols)
onehotlabels = enc.transform(onehot_cols).toarray()

In [148]:
pd.DataFrame(onehotlabels)

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8693,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8694,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8695,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8696,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [149]:
enc.categories_

[array(['Arizona', 'California', 'Nevada', 'Oregon', 'Washington'],
       dtype=object),
 array(['Divorced', 'Married', 'Single'], dtype=object),
 array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object),
 array(['Agent', 'Branch', 'Call Center', 'Web'], dtype=object),
 array(['Corporate L1', 'Corporate L2', 'Corporate L3', 'Personal L1',
        'Personal L2', 'Personal L3', 'Special L1', 'Special L2',
        'Special L3'], dtype=object),
 array(['Four-Door Car', 'Luxury Car', 'Luxury SUV', 'SUV', 'Sports Car',
        'Two-Door Car'], dtype=object),
 array(['Offer1', 'Offer2', 'Offer3', 'Offer4'], dtype=object)]

In [150]:
#This syntax is for getting back our dataset columns in encoded dataframe

from functools import reduce
one_hot_cols_encoded = reduce(lambda x, y: list(x) + list(y), enc.categories_)

In [151]:
one_hot_cols_encoded

['Arizona',
 'California',
 'Nevada',
 'Oregon',
 'Washington',
 'Divorced',
 'Married',
 'Single',
 'Corporate Auto',
 'Personal Auto',
 'Special Auto',
 'Agent',
 'Branch',
 'Call Center',
 'Web',
 'Corporate L1',
 'Corporate L2',
 'Corporate L3',
 'Personal L1',
 'Personal L2',
 'Personal L3',
 'Special L1',
 'Special L2',
 'Special L3',
 'Four-Door Car',
 'Luxury Car',
 'Luxury SUV',
 'SUV',
 'Sports Car',
 'Two-Door Car',
 'Offer1',
 'Offer2',
 'Offer3',
 'Offer4']

In [152]:
onehotlabels = pd.DataFrame(onehotlabels, columns = one_hot_cols_encoded)
onehotlabels

,Arizona,California,Nevada,Oregon,Washington,Divorced,Married,Single,Corporate Auto,Personal Auto,...,Four-Door Car,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Offer1,Offer2,Offer3,Offer4
0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8693,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8694,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8695,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8696,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

## 18.The time variable can be useful. Try to transform its data into a useful one. Hint: Day week and month as integers might be useful

In [170]:
customer_df_cleaned['action_year'] = pd.DatetimeIndex(customer_df_cleaned['effective_to_date']).year
customer_df_cleaned['action_month'] = pd.DatetimeIndex(customer_df_cleaned['effective_to_date']).month
customer_df_cleaned['action_day'] = pd.DatetimeIndex(customer_df_cleaned['effective_to_date']).day

In [171]:
customer_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8697 entries, 0 to 8696
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          8697 non-null   object
 1   customer_lifetime_value        8697 non-null   float64
 2   response                       8697 non-null   object
 3   coverage                       8697 non-null   int64
 4   education                      8697 non-null   int64
 5   effective_to_date              8697 non-null   object
 6   employmentstatus               8697 non-null   int64
 7   gender                         8697 non-null   object
 8   income                         8697 non-null   float64
 9   location_code                  8697 non-null   int64
 10  marital_status                 8697 non-null   object
 11  monthly_premium_auto           8697 non-null   int64
 12  months_since_last_claim        8697 non-null   int64
 13  months_since_policy_inception  8697 non-null   int64
 14  number_of_open_complaints      8697 non-null   int64
 15  number_of_policies             8697 non-null   int64
 16  policy_type                    8697 non-null   object
 17  policy                         8697 non-null   object
 18  renew_offer_type               8697 non-null   object
 19  sales_channel                  8697 non-null   object
 20  total_claim_amount             8697 non-null   float64
 21  vehicle_class                  8697 non-null   object
 22  vehicle_size                   8697 non-null   int64
 23  year                           8697 non-null   int64
 24  month                          8697 non-null   int64
 25  day                            8697 non-null   int64
 26  action_year                    8697 non-null   int64
 27  action_month                   8697 non-null   int64
 28  action_day                     8697 non-null   int64
dtypes: float64(3), int64(16), object(10)
memory usage: 2.0+ MB

## 19.Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding

In [172]:
continious_scaled

      customer_lifetime_value    income
0                   -0.961822  0.611236
1                    0.015265 -1.234670
2                    1.384454  0.364991
3                    0.169690 -1.234670
4                   -0.950194  0.203244
...                       ...       ...
8692                 3.822192  1.125147
8693                -0.884649 -0.526013
8694                 0.289746 -1.234670
8695                 0.141550 -0.514959
8696                -0.996975 -1.234670

[8697 rows x 2 columns]

In [173]:
discrete

,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,69,32,5,0,1
1,94,13,42,0,8
2,108,18,38,0,2
3,106,18,65,0,7
4,73,12,44,0,1
...,...,...,...,...,...
8692,73,18,89,0,2
8693,79,14,28,0,1
8694,85,9,37,3,2
8695,96,34,3,0,3
8696,77,3,90,0,1

In [174]:
ordinal_encoded

      education  coverage  employmentstatus  vehicle_size  location_code
0             0         0                 1             1              1
1             0         1                 4             1              1
2             0         2                 1             1              1
3             0         0                 4             1              1
4             0         0                 1             1              0
...         ...       ...               ...           ...            ...
8692          0         0                 1             1              2
8693          1         1                 1             1              1
8694          0         1                 4             1              1
8695          1         1                 1             0              1
8696          1         1                 4             1              1

[8697 rows x 5 columns]

In [175]:
onehotlabels

,Arizona,California,Nevada,Oregon,Washington,Divorced,Married,Single,Corporate Auto,Personal Auto,...,Four-Door Car,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Offer1,Offer2,Offer3,Offer4
0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8693,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8694,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8695,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8696,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

### As every column is numerical,we join both normalized numerical and encoded categorical columns in one dataset

In [179]:
customer_df_cleaned_concat = pd.concat([discrete,continious_scaled,onehotlabels,ordinal_encoded,customer_df_cleaned['action_year'],
                                       customer_df_cleaned['action_month'],customer_df_cleaned['action_day']],axis =1)

In [180]:
customer_df_cleaned_concat

,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,customer_lifetime_value,income,Arizona,California,Nevada,...,Offer3,Offer4,education,coverage,employmentstatus,vehicle_size,location_code,action_year,action_month,action_day
0,69,32,5,0,1,-0.961822,0.611236,0.0,0.0,0.0,...,0.0,0.0,0,0,1,1,1,2011,2,24
1,94,13,42,0,8,0.015265,-1.234670,1.0,0.0,0.0,...,1.0,0.0,0,1,4,1,1,2011,1,31
2,108,18,38,0,2,1.384454,0.364991,0.0,0.0,1.0,...,0.0,0.0,0,2,1,1,1,2011,2,19
3,106,18,65,0,7,0.169690,-1.234670,0.0,1.0,0.0,...,0.0,0.0,0,0,4,1,1,2011,1,20
4,73,12,44,0,1,-0.950194,0.203244,0.0,0.0,0.0,...,0.0,0.0,0,0,1,1,0,2011,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692,73,18,89,0,2,3.822192,1.125147,0.0,1.0,0.0,...,0.0,0.0,0,0,1,1,2,2011,2,10
8693,79,14,28,0,1,-0.884649,-0.526013,0.0,1.0,0.0,...,0.0,0.0,1,1,1,1,1,2011,2,12
8694,85,9,37,3,2,0.289746,-1.234670,0.0,1.0,0.0,...,0.0,0.0,0,1,4,1,1,2011,2,6
8695,96,34,3,0,3,0.141550,-0.514959,0.0,1.0,0.0,...,1.0,0.0,1,1,1,0,1,2011,2,3
8696,77,3,90,0,1,-0.996975,-1.234670,0.0,1.0,0.0,...,0.0,1.0,1,1,4,1,1,2011,2,14

In [181]:
customer_df_cleaned_concat.columns

Index(['monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'customer_lifetime_value', 'income', 'Arizona',
       'California', 'Nevada', 'Oregon', 'Washington', 'Divorced', 'Married',
       'Single', 'Corporate Auto', 'Personal Auto', 'Special Auto', 'Agent',
       'Branch', 'Call Center', 'Web', 'Corporate L1', 'Corporate L2',
       'Corporate L3', 'Personal L1', 'Personal L2', 'Personal L3',
       'Special L1', 'Special L2', 'Special L3', 'Four-Door Car', 'Luxury Car',
       'Luxury SUV', 'SUV', 'Sports Car', 'Two-Door Car', 'Offer1', 'Offer2',
       'Offer3', 'Offer4', 'education', 'coverage', 'employmentstatus',
       'vehicle_size', 'location_code', 'action_year', 'action_month',
       'action_day'],
      dtype='object')